doctype html
html
  head
   meta(charset='UTF-8')
   title JADE
   link(href="./public/css/common.css", rel="stylesheet")
   link(href="./public/css/sample.css", rel="stylesheet")
  body
    h1 HELLO JADE01
    h2 HELLO JADE02
    h3 HELLO JADE03
    h4 HELLO JADE04
    div.sample
      p SAMPLE BOX
