doctype html
html
  head
   meta(charset='UTF-8')
   title JADE
   link(href="./public/css/common.css", rel="stylesheet")
   link(href="./public/css/sample.css", rel="stylesheet")
  body
    script(src="./public/js/common.js")
    script(src="./sub_modules/three.js/build/three.min.js")
    script(src="./sub_modules/three.js/examples/js/controls/OrbitControls.js")
